@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
@import url("reset.css");
html {
  scroll-behavior: smooth;
}
body{
	font-family: 'Noto Serif TC', serif;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #508BC2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    opacity: 0.9;
    -webkit-box-shadow: 0px 1px 20px #6B6B6B;
    box-shadow: 0px 1px 20px #6B6B6B;
    z-index: 1000;
}
nav h3 {
    color: #FFFFFF;
    font-size: 26px;
    margin-left: 20px;
    font-weight: 600;
}
nav ul li {
  display: inline;
  margin-left: 10px;
}
nav a:link  {
    color: #F8C3CD;
    text-decoration: none;
	font-weight: 300;
}
article h3 {
  color: #0B346E;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
}
nav a:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
}
nav a:hover  {
    color: #F17C67;
    text-decoration: none;
}
nav ul {
  margin-right: 20px;
}
header {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("assets/p02.png");
    background-size: cover;
    background-position: 0% center;
}
header h1 {
  color: #FFFFFF;
  font-size: 70px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 70px;
  line-height: 95px;
}
.titleofci {  
  background-image: url(https://images.unsplash.com/photo-1509621248313-2b9a8a758bdc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-size: cover;
  background-position: 0% center;
}
.container4 {
  display: flex;
  width: 80%;
  height: 450px;
  margin: auto;
 }
.container4 .col01 {
  flex: 1;
  height: 350px;
  background-image: url(https://images.unsplash.com/photo-1493106641515-6b5631de4bb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1269&q=80);
  background-size: cover;
  margin: 10px;
  border-radius: 10px;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}
.container4 .col01:hover {
	transform:  scale(1.2) translate(100px)
}
.container4 .col02 {
  flex: 1;
  height: 350px;
  background-image: url(https://media.istockphoto.com/photos/kyudo-japanese-archery-picture-id937632876?k=20&m=937632876&s=612x612&w=0&h=jq62EQlTRlqJ1v3oVhoVeYNAT-gQCEmwcCFRBMU49JY=);
  background-size: cover;
  margin-top: 200px;
  margin: 10px;
  border-radius: 10px;
  background-position: center center;
  align-items: flex-end;
  display: flex;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}
.container4 .col02:hover {
	transform:  scale(1.2)
}
.container4 .col03 {
  flex: 1;
  height: 350px;
  background-image: url(http://i2.kknews.cc/gfX4FJRcJyQhl5Xvwc5vfspKNXdQhfy579VSPQ/0.jpg);
  background-position: center center;
  margin-top: 200px;
  margin: 10px;
  border-radius: 10px;
  background-size: cover;
  align-items: flex-end;
  display: flex;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}
.container4 .col03:hover {
	transform:  scale(1.2) translate(-100px)
}
.container4 .colT {
  background-color: #2E5C6E;
  opacity: 0.2;
  color: #FFFFFF;
  height: auto;
  line-height: 30px;
  text-align: center;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
  !important;
}

.container1 {
  display: flex;
  width: 70%;
  height: 570px;
  margin-right: auto;
  margin-left: auto;
}
.container1 .right{
    flex: 1;
    text-align: justify;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px;
}
.container1 .left {
    flex: 1;
    background-image: url("assets/p01.jpg");
    font-size: 20px;
    margin: 10px;
    background-position: center center;
    background-size: cover;
	-webkit-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
}

.container1 .left:hover {
	transform:  translate(10px)
}
.container2 {
  display: flex;
  width: 70%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
}
.container2 .left{
    background-color: #DCDDDF;
    flex: 1;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 10px;
    border-radius: 8px;
}
.container2 .right1 {
    flex: 1;
    background-image: url(http://i1.kknews.cc/bQGl3Qta40lyAtIZUJCWCWR73XOSs8DLgAKwNmM/0.jpg);
    background-position: center center;
    border-radius: 20px;
    margin: 10px;
    -webkit-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
    }
.container2 .right1:hover {
	transform:  scale(1.2) translate(50px)
}
.container2 .right2 {
    flex: 1;
    background-image: url(http://i2.kknews.cc/jbnrkyrCiLWAE9jvRPAE6BywIiu5K4kJcwvlVhQ/0.jpg);
    background-position: center center;
    border-radius: 20px;
    margin: 10px;
    -webkit-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
    }
.container2 .right2:hover {
	transform:  scale(1.2) translate(-50px)
}
.container3 {
  display: flex;
  width: 70%;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
}
.container3 .left {
    flex: 1;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 10px;
    height: 300px;
}
.container3 .right {
    background-color: #E3E7EA;
    border-radius: 10px;
    flex: 1;
    letter-spacing: 1px;
    font-size: 26px;
    margin: 10px;
    text-align: left;
    line-height: 30px;
    text-decoration: none;
    }
.container6 {
    background-color: #DCDDDF;
    height: 300px;
}
.container5 {
  display: flex;
  width: 70%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}
.container5 .explication{
    flex: 1;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 10px;
}
.col01:hover .colT {
  -webkit-opacity: 1;
  opacity: 1;
}
.col02:hover .colT {
  -webkit-opacity: 1;
  opacity: 1;
}
.col03:hover .colT {
  -webkit-opacity: 1;
  opacity: 1;
}footer {
  width: 100%;
  height: 60px;
  background-color: #508BC2;
  text-align: center;
  font-size: 14px;
  line-height: 60px;
  color: #E6E6E6;
}
nav a {
    -webkit-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
}

